.fmw_advanced {
    display: none;
}

svg#svgroot foreignObject::after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-color: silver;
	opacity: 0.33;
}

div#tool_foreign::after {
    content: "<ht ml>";
    overflow: hidden;
    font-size: 7pt;
}
